@namespace AlpacaSpy

@inherits LayoutComponentBase

<PageTitle>@Globals.APPLICATION_NAME</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div style="text-align:left;display:inline-block;margin-right:auto;"><h1 style="margin-top:8px;">@Globals.APPLICATION_NAME</h1></div>
            <a href="https://ascom-standards.org" target="_blank">ASCOM Standards</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<RadzenDialog />
